#header , #footer, #login_btn{
    background-color:#87a96b;
  
    
}

#login_btn{
    font-family:Risque ;
    font-size:20px;
   
}
#login{
    background-color: #B0BC98;
    margin-top:120px;
    margin-bottom:50px;
}

#form{
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 50px;
    margin-right: 50px; 
}
#sosmed{
    font-family:Risque;
    color: white;
    font-size:22px;
}


#copyright{
    font-family:Risque;
    color: white;
    font-size:15px;
    margin-top:20px;
    margin-bottom:15px;
}

#brand{
    font-family:Risque;
    color: white;
    font-size:27px;
    
}


#menu{
    font-family:Risque;
    color: white;
    font-size:20px;
   
}

#foto{
   
    margin-top: 140px;
   
    
}

#deskripsi{
  
   
    margin-top: 120px;
    margin-bottom: 50px;
    text-align: justify;
    font-size: 19;
   font-family: 'Times New Roman', Times, serif;
    background-color: #B0BC98;
    
}


.experience{
    
    margin-bottom: 75px;
    background-color: #B0BC98;
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;

 
}

